/* Grid and main window styling */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  }

#container {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: auto 1fr 1fr 20px;
    grid-template-areas: 
    "menuBar menuBar"
    "inputOptions output"
    "spreadsheet spreadsheet"
    "statusBar statusBar";
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
}

/* Menu Bar styling */
#menuBar {
    grid-area: menuBar;
    background-color: #f0f0f0;
    box-shadow: 0px 0.5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
}

#menuBarOptions{
    display:flex;
    height: 100%;
}

.FidumLogo {
    background-color: royalblue;
    color: white;
    user-select: none;
}

.FidumLogo:hover {
    background-color: rgba(65, 105, 225, 0.95);
}

#menuBarLeyend {
    user-select: none;
}

.menu {
    padding: 5px 10px;
    font-size: 1.1em;
}


/* Input modal window styling */
#inputOptions {
    grid-area: inputOptions;
    border-right: solid 2px rgba(0,0,0,0.2) ;
    padding: 2px 10px;
    background-color: #f0f0f07e;
}

fieldset input, fieldset select, fieldset button {
    margin-top: 5px;
}

/* Output region styling */
#output {
    grid-area: output;
    padding: 2px 10px;
    overflow: auto;
}

.resultOutputTitle {
    margin-top: 5px;
    color:rgba(65, 105, 225, 0.95);
    font-weight: 700;
}

/* Spreadsheet styling */

#spreadsheet {
    grid-area: spreadsheet;
    overflow: hidden;
}

/* Status bar  styling */
#statusBar {
    grid-area: statusBar;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px rgba(0,0,0,0.2) ;
    background-color: #f0f0f0;
    font-size: 0.8em;
    padding: 0px 8px;
}

